.layout {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100%;
}

.appLogo {
  width: 60%;
}

.characters {
  padding: 0px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.showMore {
  margin-bottom: 2rem;
}
